<main class="login">

  <img
    class="login__marca"
    src="logo-brasao.svg"
    alt="Studio R Trainers - Elite Fitness"
    width="204"
    height="201" />

  <form class="cartao" [formGroup]="formulario" (ngSubmit)="enviar()" novalidate>

    <app-campo
      rotulo="E-mail"
      tipo="email"
      formControlName="email"
      autocomplete="email"
      modoTeclado="email" />

    <app-campo
      rotulo="Senha"
      tipo="senha"
      formControlName="senha"
      autocomplete="current-password" />

    @if (sessaoExpirada()) {
      <p class="aviso">Sua sessao expirou. Entre novamente.</p>
    }

    @if (mensagemErro(); as erro) {
      <p class="erro" role="alert">{{ erro }}</p>
    }

    <div class="acao">
      <app-botao tipo="submit" [carregando]="carregando()" textoCarregando="Entrando">
        Entrar
      </app-botao>
    </div>

    <a class="link" routerLink="/primeiro-acesso">Primeiro acesso</a>

  </form>
</main>
